header {
  display: flex;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
}

.logo span {
  padding-left: 12px;

}

nav {
  display: block;
  align-items: center;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

div.content {
  display: flex;
  padding-top: 116px;
  border: 1px solid black;
  margin-bottom: 78px;

}

div.column.large {

  display: flex;
  flex-direction: column;
  width: 630px;
  border: 1px solid black;
  font-size: 17px;
  font-family: Georgia;
}

div.image-content {
    background-image: url(./images/img-story-main.png);
    display: flex;
    width: 629px;
    height: 300px;
}

.image-content span {
   font-weight: bold;
   font-size: 40px;
   color: white;
}

.lead-story p {
  color: black;
}

div.stories {
  display: column;
  border: 1px solid black;
}

div #girl {
  background-image: url(./images/img-story-2.png);
  display: flex;
  width: 629px;
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
}



div.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
}

div.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 1px solid black;
}


.container {
  background-color:
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
