.container {
  display: flex;
  align-items: center;
}

header .container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}


  

  #header-text {
    width: 100px;
    flex-grow: 1;
  }

  #navigation  {
    width: 100px;
    flex-grow: 1;
  }
